.textArea .content{
  -fx-background-radius: 0;
  -fx-background-color: rgb(10, 10, 10);
}
.textArea{
  -fx-text-fill: lightgray;
  -fx-font-family: Verdana;
  -fx-font-size: 14;
  -fx-font-weight: normal;
  -fx-font-style: normal;
}